/* Réinitialisation des styles de base du navigateur */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style de base du corps du site */
body {
    background-color: #3f4042;
    margin: 0;
    padding: 0;

}

/* Style de l'en-tête */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style de la barre de navigation */
nav ul {
    list-style: none;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px; /* Ajoutez la marge inférieure souhaitée ici */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.Bouton-download {
    background-color: #3f4042;
    padding: 12px;
    border-radius: 10%;
    color: #fff;
}

code {
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    color: white;
    border-top: 10px;
    padding: 10px;
}

/* Style de la section principale */
main {
    max-width: 1200px;
    padding: 20px;
    margin-left: 50px;
    background-color: #3f4042;
    color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.Tabulation {
    margin-left: 30px;
}

/* Style du pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Style des sections */
section {
    margin-bottom: 50px;
    margin-top: 50px;
}

/* Style pour les titres de section */
h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

/* Style pour les paragraphes */
p {
    font-size: 16px;
}

/* .center-image {
    text-align: center;
}

.center-image img {
    display: inline-block;
} */

.test {
    text-align: center;
    width: 100vw;
    margin-top: 50px;
}

.center-image {
    text-align: center;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.center-image img {
    margin: auto;

}